* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #c5cae9 50%, #3949ab 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.navigation {
    background: #fff;
    padding: 20px 15px;
    position: relative;
    width: 290px;
    transition: 1.9s all ease;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.navigation ul li {
    perspective: 1000px;
    perspective-origin: left;
    transition: 1.9s all ease;
}

.navigation span {
    width: 20px;
    height: 2px;
    background: #1976d2;
    display: block;
    cursor: pointer;
    transition: 1.9s all ease;
    z-index: 20;
}

.navigation .topLine {
    position: absolute;
    top: 28px;
    right: 15px;
    transform: rotate(-45deg);
}

.navigation .bottomLine {
    position: absolute;
    top: 28px;
    right: 15px;
    transform: rotate(45deg);
}

/* classes to add with javascript ========= */

.navigation.active {
    width: 50px;
}

.navigation .topLine.active {
    right: 28%;
    top: 28px;
    rotate: 945deg;
}

.navigation .bottomLine.active {
    right: 28%;
    top: 34px;
    rotate: -945deg;
}

.navigation ul li.active {
    transform: rotateY(2turn);
    opacity: 0;
    translate: 650%;
}